li {
  padding: 80px;
  display: inline;
  text-decoration: none;
}
.btn {
  width: 25%;
  border-radius:-10px;
  margin-right:20px;
  
}
.btn1 {
  border: 2px solid rgb(240, 152, 167);
  background-color: whitesmoke;
}
.btn2 {
  background-color: rgb(240, 152, 167);
}
#section1 {
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom:50px;
  padding-top:40px;
}

img{
  margin: 10%;
    background-color: transparent;
    height:80%;
    width:80%;
}
.leftmargin{
    margin-top:30%;
}
.rightmargin{
    margin-top:5%;
}
li{
  font-size:15px;
  color:black;
  font-weight: bold;
}

.para{
  font-weight: bold;
}